.App {
  background-color: rgb(151, 197, 250);
  text-align: center;
  list-style: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 15px;
  align-items: center;
}

#navbar {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 23, 31, 1);
  background-color: rgba(0, 168, 232, 1);
  font-size: 2em;
  border-radius: 25px;
  border: 5px solid rgba(0, 126, 167, 1);
  margin: 10px 0px;
  padding: 10px;
  text-align: center;
}
ul {
  list-style: none;
}

.select {
  color: rgba(0, 23, 31, 1);
  background-color: rgba(0, 168, 232, 1);
}

#commentForm {
  color: rgba(0, 23, 31, 1);
  background-color: rgba(0, 168, 232, 1);
}

#DisplayCard {
  border-radius: 50px;
  border: 10px solid rgb(37, 48, 94);
  padding: 1ex 1ex 1ex 1ex;
  background-color: rgb(245, 243, 225);

  margin-right: auto;
}

.DisplayCard:nth-last-of-type(odd) {
  background-color: rgb(78, 117, 201);
  border-radius: 25px;
}
.DisplayCard:nth-last-of-type(even) {
  background-color: rgb(141, 141, 141);
  border-radius: 25px;
}
.articleCardTitle {
  font-weight: bolder;
  list-style: none;
  color: rgba(0, 23, 31, 1);
}
a {
  position: relative;
  display: inline-block;

  color: royalblue;
  font-weight: 800;
  text-decoration: underline;
  overflow: hidden;
}
a::before {
  position: absolute;
  content: attr(data-content);
  top: 0;
  left: 0;
  color: midnightblue;
  text-decoration: underline;
  overflow: hidden;
  transition: width 275ms ease;
}
a::before {
  width: 0;
  white-space: nowrap;
}
a:hover::before {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
