#navbar {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 23, 31, 1);
  background-color: rgba(0, 168, 232, 1);
  font-size: 2em;
  border-radius: 25px;
  border: 5px solid rgba(0, 126, 167, 1);
  margin: 10px 0px;
  padding: 10px;
}

#sort {
  color: rgba(0, 23, 31, 1);
  background-color: rgba(0, 168, 232, 1);
}

#order {
  color: rgba(0, 23, 31, 1);
  background-color: rgba(0, 168, 232, 1);
}

#commentForm {
  color: rgba(0, 23, 31, 1);
  background-color: rgba(0, 168, 232, 1);
}

#card {
  border-radius: 25px;
  border: 5px solid rgba(0, 126, 167, 1);
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e8eddf;
  display: grid;
}

#singleCard {
  border-radius: 25px;
  border: 5px solid rgba(0, 126, 167, 1);
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e8eddf;
  display: grid;
}

#topicColour {
  color: rgb(17, 104, 29);
  font-weight: bolder;
}

#comment {
  background-color: lightgrey;
  text-align: left;
  padding: 10px 60px;
  border-radius: 25px;
  border: 5px solid #73ad21;
  margin: 10px 0px;
}
#title {
  color: rgb(156, 8, 124);
}
#author {
  color: slategrey;
  list-style: none;
}
.articleCardTitle {
  font-weight: bolder;
  list-style: none;
  color: rgba(0, 23, 31, 1);
}
.App {
  background-color: rgb(151, 197, 250);
  text-align: center;
  list-style: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 15px;
  align-items: center;
}

a {
  position: relative;
  display: inline-block;

  color: royalblue;
  font-weight: 800;
  text-decoration: underline;
  overflow: hidden;
}
a::before {
  position: absolute;
  content: attr(data-content);
  top: 0;
  left: 0;
  color: midnightblue;
  text-decoration: underline;
  overflow: hidden;
  transition: width 275ms ease;
}
a::before {
  width: 0;
  white-space: nowrap;
}
a:hover::before {
  width: 100%;
}

/* #topicList {
  color: green;
} */

#topicsMap {
  list-style: none;
  text-align: center;
  color: black;
}

.topic {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#rcorners2 {
  border-radius: 25px;
  border: 5px solid #73ad21;
  padding: 10px;
  width: flex;
}

.title {
  background-color: rgb(109, 86, 136);
}

.mainArticleDisplay {
  list-style: none;
  background-color: rgb(121, 140, 196);
  font-size: 20px;
  padding: 1em;
}

.articleCard {
  list-style: none;
  padding: 5em;
  font-size: 15px;
  background-color: gold;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
