#navbar {
  font-family: "Courier New", Courier, monospace;
  color: steelblue;
  background-color: lightskyblue;
  font-size: 2em;
  border-radius: 25px;
  border: 5px solid #73ad21;
  margin: 10px 0px;
  padding: 10px;
}

#comment {
  background-color: lightgrey;
  text-align: left;
  padding: 10px 60px;
  border-radius: 25px;
  border: 5px solid #73ad21;
  margin: 10px 0px;
}
#title {
  color: rgb(156, 8, 124);
}
#author {
  color: slategrey;
  list-style: none;
}
.articleCardTitle {
  font-weight: bolder;
  list-style: none;
}
.App {
  text-align: center;
  list-style: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#showHideComments {
  background-color: lightcyan;
  list-style: none;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.readMoreButton {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px 60px;
  border-radius: 25px;
  border: 5px solid #73ad21;
  margin: 10px 0px;
  cursor: pointer;
  display: block;
}

#topicList {
  color: green;
}

#topicsMap {
  list-style: none;
}

.topic {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#rcorners2 {
  border-radius: 25px;
  border: 5px solid #73ad21;
  padding: 20px;
  width: flex;
  height: 150px;
}

.title {
  background-color: rgb(109, 86, 136);
}

.mainArticleDisplay {
  list-style: none;
  background-color: rgb(121, 140, 196);
  font-size: 20px;
  padding: 1em;
}

.articleCard {
  list-style: none;
  padding: 5em;
  font-size: 15px;
  background-color: gold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
